<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdMate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A12F9101BE185D3000504DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A12F9211BE185D3000504DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A12F92C1BE185D4000504DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
